<section class="help-section">
  <h1 class="help-intro-title">
    Need more help?
  </h1>
  <ul class="help-listing">
    <li>
      <a href="https://discord.gg/KPczRaj" target="_blank">
        <h3>Community Chat</h3>
        <p class="description">
            At Discord, you can share your questions, insights, and creations.
        </p>
      </a>
    </li>
    <li>
      <a href="https://twitter.us18.list-manage.com/subscribe?u=5e5c0ba18cc3a34c807f27871&id=875ef3aa5c" target="_blank">
        <h3>Mailing List</h3>
        <p class="description">
          Subscribe to our mailing list to get notified of the latest updates of the project.
        </p>
      </a>
    </li>
    <li>
      <a href="https://discord.gg/KPczRaj" target="_blank">
        <h3>Discord</h3>
        <p class="description">
           Reach out to us through our Discord.
        </p>
      </a>
    </li>
  </ul>
</section>
